//Càng ở dưới càng được ưu tiên

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    font-style: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 1);
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        user-select: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.title {
    font-size: 1.4rem;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
//Button type

.rounded {
    border-radius: 9999px;
    color: rgba(22, 24, 35, 0.75) !important;
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white) !important;
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary) !important;
    border-color: var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.16);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//Button sizes
.small {
    padding: 6px 16px;
    min-width: 88px;
}

.medium {
    padding: 10px 16px;
    min-width: 110px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
